# Copy to .env and fill values. Never commit .env to git!

SECRET_KEY=your-very-long-random-secret-key-minimum-50-chars
DEBUG=True

# Production pe False karo:
# DEBUG=False

DATABASE_URL=

GEMINI_API_KEY=your-gemini-api-key-here

EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-gmail-app-password
ADMIN_EMAIL=your-email@gmail.com